# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Config files containing secrets
config.json
# .env (for now unsafe but if issues arise i will safe it)

# oldsaves
*.json

# VSCode
.vscode/

# uhh the read when update thing dont want git seein that thing :skull:
READMEWHENYOUUPDATE.txt

# thanks chatgpt my ass is lazy asf i was NOT tryna write ts gitignore